<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/css/registerstyle.css" />
</head>
<body>
    <header>
        <div class="left_area">
            <h3>Cyber <span>Call</span></h3>
        </div>
        <div class="right_area">
    </header>
    
   
	<div class="Registration_Box">
        <!--<img src="/images/user.jpg" class="avatar">
    	input type="file" id="file" accept="image/*" />
    		<label for="file">
      			<i class="material-icons">add_photo_alternate</i>Choose Photo
    	</label-->
    	<h1>Sign Up</h1>
        <form action = "/" method = "POST" autocomplete = "off">
            <div class="Info_form">
                <p>First Name</p>
                <input type="text" placeholder="Enter First Name" name="FirstName" required />
                <p>Middle Name</p>
                <input type="text" placeholder="Enter Middle Name" name="MiddleName" required />
                <p>Last Name</p>
                <input type="text" placeholder="Enter Last Name" name="LastName" required />
                <p>E-mail ID</p>
                <input type="text" placeholder="Enter Email-ID" name="Email" required />
                <p>City</p>
                <input type="text" placeholder="Enter City" name="City" required />
                <p>Username</p>
                <input type="text" placeholder="Enter Username" name="UserName" required />
                <p>Password</p>
                <input type="password" placeholder="Enter Password" name="Password" required />
                <input type="submit" value="Sign up" />
            </div>
        </form>
    </div>
    <div class="content"></div>

</body>
</html>
